version: "3.8"
services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: homelink_user
      POSTGRES_PASSWORD: securepassword123 # Change this!
      POSTGRES_DB: homelink_db
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
